# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
**/UnityGenerated/
**/Assets/AssetStoreTools*
**/UserSettings/
.utmp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vscode
*.vsconfig
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Addressables #
# ============ #
**/addressables_content_state.bin
**/Assets/AddressableAssetsData/Android
**/Assets/AddressableAssetsData/Android*
**/Assets/AddressableAssetsData/iOS
**/Assets/AddressableAssetsData/iOS*
**/Assets/AddressableAssetsData/Windows
**/Assets/AddressableAssetsData/Windows*
**/Assets/AddressableAssetsData/link.xml*

# ===== #
# Rider #
# ===== #
**/.idea/
**/Assets/Temp.meta